{%extends "main/base.html"%}

{% load staticfiles%}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css'%}">

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="research">
        <div class="resume-section-content">
            <h1 class="mb-0">
                我們的
                <span class="text-primary">研究</span>
            </h1>
            <div class="subheading mb-5">
                3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
                <a href="mailto:name@email.com">name@email.com</a>
            </div>
            <p class="lead mb-5">
                人工智慧協助燒燙傷診斷 
                根據WHO的統計，每年因燒燙傷死亡的人數約有265,000人，在美國，每年因燒燙傷而到急診就醫約有10,000,000人次，在台灣，每年因燒燙傷住院的病患也有7,000人次。燒燙傷是與我們生活息息相關的意外，煮菜或是洗澡都有可能造成。 
                有效的燒燙傷治療，需要對燒燙傷的面積與深度做準確的判斷，然而這需要靠大量的臨床經驗，幸好目前有的儀器可用於燒燙傷深度的診斷，像是雷射督普勒、紅外線熱像儀等；然而對燒燙傷面積的判斷卻仍是用目測的估計，因此各國的文獻都指出(Harish V, Burns. 2015. Baartmans MG, Injury. 2012.)，這樣的方式，使得急診或門診醫師與整形外科醫師，在燒傷面積的估計上有很大的差異，不僅如此，不同燒傷專家對同一位病患的估計也有很大的差異(Giretzlehner M, Burns. 2013)，準確地知道燒燙傷面積是非常重要，因為這與給予輸液的量，給予的營養素，是否需要加護病房，醫療院所有無能力可以照護有關。 
                為了解決這個問題，我們收集了上千張燒燙傷的影像，並由多位整形外科醫師對這些影像標註，接著我們以多個深度學習的演算法，訓練後的模型，可以自動的診斷出各種深度燒燙傷的範圍。為了算出燒燙傷的面積，我們另外訓練了其他模型，可以準確的判斷手掌範圍，由於手掌(不含手指)在兒童或成人，都是0.5% 全身體表面積。在相同或已知的拍照距離紀錄病患傷口與手掌，就可以以人工智慧的模型計算出燒傷面積。 </p>
            <div class="social-icons">
                <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="trainingModel">
        <div class="resume-section-content">
            <h2 class="mb-5">深度學習的模型</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Mask-RCNN</h3>
                    <!-- <div class="subheading mb-3">Intelitec Solutions</div> -->
                    <img src="/static/images/maskrcnn.png" style="width: 85%"></img>
                </div>
                <!-- <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div> -->
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">U-Net</h3>
                    <!-- <div class="subheading mb-3">Intelitec Solutions</div> -->
                    <img src="/static/images/unet.png" style="width: 85%"></img>
                </div>
                <!-- <div class="flex-shrink-0"><span class="text-primary">December 2011 - March 2013</span></div> -->
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">ResNet</h3>
                    <!-- <div class="subheading mb-3">Shout! Media Productions</div> -->
                    <img src="/static/images/resnet.png" style="width: 85%"></img>
                </div>
                <!-- <div class="flex-shrink-0"><span class="text-primary">July 2010 - December 2011</span></div> -->
            </div>        
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="diagnosisCase">
        <div class="resume-section-content">
            <h2 class="mb-5">診斷案例</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">淺二度燙傷</h3>
                    <!-- <div class="subheading mb-3">Bachelor of Science</div> -->
                    <!-- <div>Computer Science - Web Development Track</div> -->
                    <img src="/static/images/level2shallowscald.png" style="width: 85%"></img>
                </div>
                <!-- <div class="flex-shrink-0"><span class="text-primary">August 2006 - May 2010</span></div> -->
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">深二度燙傷</h3>
                    <!-- <div class="subheading mb-3">Technology Magnet Program</div> -->
                    <img src="/static/images/level2deepscald.png" style="width: 85%"></img>
                </div>
                <!-- <div class="flex-shrink-0"><span class="text-primary">August 2002 - May 2006</span></div> -->
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">三度燙傷</h3>
                    <!-- <div class="subheading mb-3">Technology Magnet Program</div> -->
                    <img src="/static/images/level3scald.png" style="width: 85%"></img>
                </div>
                <!-- <div class="flex-shrink-0"><span class="text-primary">August 2002 - May 2006</span></div> -->
            </div>
        </div>
    </section>
    <!-- <hr class="m-0" /> -->
    <!-- Skills-->
    <!-- <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                <li class="list-inline-item"><i class="fab fa-react"></i></li>
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                <li class="list-inline-item"><i class="fab fa-less"></i></li>
                <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Mobile-First, Responsive Design
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Functional Teams
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile Development & Scrum
                </li>
            </ul>
        </div>
    </section> -->
    <!-- <hr class="m-0" /> -->
    <!-- Interests-->
    <!-- <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
        </div>
    </section>
    <hr class="m-0" /> -->
    <!-- Awards-->
    <!-- <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Awards & Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Google Analytics Certified Developer
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Mobile Web Specialist - Google Certification
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2009
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    2
                    <sup>nd</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2008
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - James Buchanan High School - Hackathon 2006
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    3
                    <sup>rd</sup>
                    Place - James Buchanan High School - Hackathon 2005
                </li>
            </ul>
        </div>
    </section> -->
</div>
{%endblock%}
